*.gmo
*~
aclocal.m4
autom4te.cache*
Makefile
Makefile.in
config.*
configure
install-sh
intltool*
missing
mkinstalldirs
po/POTFILES
po/stamp-it
po/.intltool-merge-cache
data/soundconverter.desktop
data/soundconverter.desktop.in
src/soundconverter


