*.gmo
*~
ChangeLog
aclocal.m4
autom4te.cache*
Makefile
Makefile.in
config.*
configure
install-sh
intltool*
missing
mkinstalldirs
po/POTFILES
po/stamp-it
po/.intltool-merge-cache
data/soundconverter.desktop
data/soundconverter.desktop.in
INSTALL
bin/soundconverter
compile
data/org.soundconverter.gschema.valid
m4/
py-compile
__pycache__

# IDEs
.vscode