[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=SoundConverter
Comment=Audio files convertion
MimeType=
Icon=
Exec=soundconverter %f
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Application;AudioVideo
