name: Ubuntu Latest Tests

on:
  push:
    branches: [ '**' ]  # All branches
  pull_request:
    branches: [ '**' ]  # All branches
  workflow_dispatch: # Allows you to manually trigger the workflow from the GitHub UI
  schedule:
    - cron: '0 0 1 * *' # Monthly

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build the Docker image
      run: docker build . --file Containerfile.ubuntu.latest --tag soundconverter-tests-ubuntu-latest

    - name: Run tests
      run: docker run --rm soundconverter-tests-ubuntu-latest