name: Fedora Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: # Allows you to manually trigger the workflow from the GitHub UI
  schedule:
    - cron: '0 0 1 * *' # Monthly

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Containerfile.fedora --tag soundconverter-tests-fedora

    - name: Run tests
      run: docker run --rm soundconverter-tests-fedora